
@media screen and (max-width: 692px) {
    header{
        flex-direction: column;
    }
    #hero{
        flex-direction: column;
    }
    h2{
        font-size: 30px;
    }
 
    ul{
        text-align: center;
    }
    p{
        margin: 0 auto;
    }
    #tecnologias{
        flex-direction: column;
        height: 10%;

    }
    .tecnologia-item{
        text-align: center;
        width: 90%;
        border-bottom: 2px solid #FFF;
    }
}   
@media screen and (max-width: 1087px) {
    h2{
        font-size: 30px;
        line-height: 20px;
    }
}