
@media screen and (max-width: 760px) {
    header{
        flex-direction: column;
    }
    main{
        flex-direction: column;
    }
    form{
        margin: 0 auto;
        
    }
    h2{
        font-size: 30px;
    }
    input{
        align-self: center;
        width: 100%;
    }
    aside{
        text-align: center;
    }
    img{
        padding-top: 4em ;
        width: 100%;
    }
    ul{
        text-align: center;
    }
    p{
        margin: 0 auto;
    }
}
@media screen and (max-width: 1087px) {
    h2{
        font-size: 30px;
        line-height: 20px;
    }
}